<form action='/auth/changerole' method='PUT' class="roleBox">
    <fieldset>
        <input type="submit" id="button" value="Cambia de rol">
    </fieldset>
</form>
<a href='/products' class="buttonAccount">Volver</a>
<script src="/js/changerole.js"></script>